/*.root {*/
/*margin-top: 10px;*/
/*}*/

body {
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

body::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/public/images/bg.jpg") no-repeat center;
    background-size: cover;
    /*background-repeat-y: inherit;*/
}

.header_btn-back {
    /*background: #3770C5;*/
    /*padding: 4px 8px;*/
    margin: 0px -15px;
    border-radius: 0;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url("/public/images/loading.gif") no-repeat center;
    background-size: 200px;
}

ul, li {
    list-style: none;
}

.favorite-item {
    background: #FDFDFD;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #A7BAB2;
    border-radius: 6px;
}

.favorite-item:hover {
    background: #dbdbdb;
}

.favorite-item_image {
    display: inline-block;
    margin-right: 5px;
}

.favorite-item_image > img {
    width: 100px;
}

.favorite-item_content {
    display: inline-block;
}

.error {

}

.error-message {
    font-weight: bold;
    color: red;
}